<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layout/default_layout">
	<th:block layout:fragment="content">
		<div class="container">
			<h1>Board View.</h1>
			<form id="frm" action="/board/view/action" method="post"
			th:with="info=${resultMap.info}" enctype="multipart/form-data">
				<input type="hidden" name="id" th:value="${info.id}">
				<div class="mb-3">
					<label class="form-label font-weight-bold"><span class="text-danger">*</span>Title.</label>
					<input type="text" class="form-control" name="title" th:value="${info.title}" required>
				</div>
				<div class="mb-3">
					<label class="form-label font-weight-bold"><span class="text-danger">*</span>Content.</label>
					<textarea class="form-control" rows="5" name="content" th:text="${info.content}" required></textarea>
				</div>
				<div class="mb-3">
					<label class="form-label">Writer.</label>
					<input type="text" class="form-control" name="registerId" th:value="${info.registerId}" required>
				</div>
				<div class="mb-3">
					<label class="form-label font-weight-bold mt-2">File Upload.</label>
					<div class="mb-3" id="fileDiv">
						<div class="custom-file mt-1">
							<input type="file" class="custom-file-input" id="customFile"
							onchange="fnChngFile(this);">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
					</div>
					<div class="float-right mt2">
						<a class="btn btn-primary text-white" href="javascript:fnAddFileDiv();">+</a>
						<a class="btn btn-danger text-white" href="javascript:fnDelFileDiv();">-</a>
					</div>
					<th:block th:if="${resultMap.fileList}">
						<div class="fileList mt-3" th:each="id:${resultMap.fileList}">
							<img alt="image file" style= "width: 50%" class="form-control img-thumbnail mt-3"
							th:src="@{/file/download(id=${id})}">
							<div class="mt-2">
								<a class="btn btn-dark" th:href="@{file/download(id=${id})}">Download</a>
								<button type="button" class="btn btn-danger" th:onclick="fnFileDelete(this, [[${id}]])">Delete File</button>
							</div>
						</div>
					</th:block>
				</div>
				<div class="clearfix mt-5">
					<div class="">
						<button type="button" class="btn btn-success" onclick="javascript:location.href='/board/list'">Previous</button>
						<button type="submit" class="btn btn-primary">Edit</button>
						<button type="button" class="btn btn-danger" th:onclick="fnViewDelete()">Delete</button>
					</div>
				</div>
			</form>
		</div>
		<!-- 부트스트랩 js, jquery추가 -->
		<script type="/js/lib/jquery.min.js"></script>
		<script type="/js/lib/bootstrap.min.js"></script>
		<script th:inline="javascript">
			function fnViewDelete(){
				if(confirm("Do you want to delete it?")){
					let frm = $("#frm");
					frm.attr("action", "/board/veiw/delete");
					frm.submit();
				}
			}
		</script>
	</th:block>
</html>